* 
/* Colocar comentario despues de cada fila de código explicando qué hace */

{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background: black;
  font-family: Arial, sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  background: #2f3e50;
  padding: 20px;
  border: 8px solid black;
}

.logo, .social {
  background: #de5656;
  padding: 20px;
  border: 8px solid #2f3e50;
}
/* el .nav tiene que tener el triple de ancho de logo y social 
entre logo, nav y social debe haver espacio, espacio un poco más grande*/


.nav {
  background: #de5656;
  padding: 20px;
  border: 8px solid #2f3e50;
  flex: 2;
}


.banner {
  background: #ffd000;
  padding: 100px 0;
  margin: 20px 0;
  text-align:left;
  /* en negrita*/
  font-weight: bold;
  font-size: 2rem;
  /* la celda  de .banner está muy ancho  */
  max-width: 600px;
  border: 20px solid orange;
}


.main {
  display: flex;
  gap: 20px;
  border: 8px solid black;
  padding: 20px;
  background: #2f3e50;
}

.articles {
  flex: 3;
  background: #3d4056;
  padding: 20px;
  display: grid;
  gap: 20px;
}
 
.article {
  background: #4e8acb;
  padding: 40px;
  border: 4px solid black;
  text-align: center;
  color: white;
}

.navegacion {
  grid-column: 1 / 3;
  background: #7fa1b7;
  padding: 20px;
  border: 4px solid black;
  text-align: center;
}


.publicidad {
  flex: 1;
  background: #d94a48;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 8px solid black;
}

.pub-item {
  background: #ffd700;
  padding: 40px;
  border: 4px solid black;
  text-align: center;
}


.pie {
  background: #f6d45c;
  padding: 40px;
  margin-top: 20px;
  border: 8px solid black;
  text-align: center;
}
